
        /* Custom CSS for glowing effect */
        .glow {
            transition: all 0.3s ease-in-out;
        }

        .glow:hover {
            box-shadow: 0 0 25px rgb(75, 57, 194);
        }
        .img_glow {
            transition: all 0.3s ease-in-out;
        }
        .img_glow{
            box-shadow: 0 0 65px rgb(75, 57, 194);
        }
        .transition {
            transition: all 0.3s ease-in-out;
        }